/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after{
  box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #0027d5;
}

body{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #000;
    max-width: 1920px;
    background: #fbfbfb;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.header li{
    font-size: 28px;
}

.header .firstpage{
    margin-right: 40px;
}

.card{
    display: flex;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.card .item{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 24px;
}

.item .group{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.item .new{
    padding: 6px 12px;
    border: 1px solid #0027D5;
    background: #0027D5;
    border-radius: 40px;
    font-size: 16px;
    color: #ffff;
}

.group a:hover{
    background: #4b4b4b;
    border: #4b4b4b;
}

.item p{
    font-size: 16px;
    margin-bottom: 4px;
}

.item h2{
    font-size: 24px;
    color: #0027d5;
    margin-right: 8px;
}

.item h1{
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 5px 5px #cac8c8;
}

.card img{
    width: 50%;
    padding-right: 24px;
}

@media(max-width:992px){
    .card{
        flex-direction: column;
    }
    .card img{
        width: 100%;
        padding-right: 0;
        margin-bottom: 48px;
    }
    .card .item{
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 48px;
    }
}

.content{
    max-width: 636px;
    margin: 0 auto;
    margin-top: 80px;
}

.content h2{
    font-size: 28px;
    font-weight: bold;
    color: #0027d5;
    margin-bottom: 24px;
}

.content p{
    font-size: 16px;
    margin-bottom: 24px;
}

.content .contact{
    color: #0027D5;
    text-decoration: underline 2px #0027D5;
}

.content .sentence{
    margin-bottom: 8px;
}

.content .list{
    margin-bottom: 0px;
}

.content img{
    margin-top: 24px;
    margin-bottom: 24px;
}

.content h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.content ul{
    font-size: 16px;
    margin-bottom: 24px;
}

.note{
    background: #ededed;
    border-radius: 30px;
    margin-bottom: 24px;
}

.note p{
    padding: 24px;
}

.readmore{
    padding-top: 24px;
    padding-bottom: 24px;
}

.page{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.page a{
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
    border: 2px solid #4b4b4b;
    border-radius: 80px;
    color: #4b4b4b;
}

.page a:hover{
    background: #4b4b4b;
    color: #ededed;
}

@media(max-width:992px){
    .content{
        padding-left: 12px;
        padding-right: 12px;
    }
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 1px solid #000;
}

.bottom a{
    font-size: 32px;
}

.bottom .link{
    display: flex;
}

.bottom li{
    padding: 10px;
}

.footer{
    background: #ffff;
}

.footer p{
    font-size: 16px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media(max-width:992px){
    .bottom{
        flex-direction: column;
        height: auto;
    }
}